@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "COOPERBT";
  src: url("../styles/CooperBT-Light.otf");
}
@font-face {
  font-family: "GARAMOND";
  src: url("../styles/GaramondPremrPro.otf");
}
@font-face {
  font-family: "PLATFORM";
  src: url("../styles/Platform-Medium.otf");
}
@font-face {
  font-family: "METRIKMID";
  src: url("../styles/MetrikMedium.otf");
}


[data-collapsible="true"].bg-white + [data-collapsible="true"].bg-white {
  @apply pt-0 md:pt-0;
}



html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: white;
}
body{
  background-color: white;

}

.kaykay::-webkit-scrollbar {
  display: none;
}

.kaykay  {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.Toolbar{
  display: none !important;
}
.nuxt-link-exact-active{
  text-decoration: underline;
}