@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "COOPERBT";
  src: url("../styles/CooperBT-Light.otf");
}
@font-face {
  font-family: "COOPERBTBOLD";
  src: url("../styles/CooperBT-Bold.otf");
}
@font-face {
  font-family: "GARAMOND";
  src: url("../styles/GaramondPremrPro.otf");
}
@font-face {
  font-family: "PLATFORM";
  src: url("../styles/Platform-Medium.otf");
}
@font-face {
  font-family: "METRIKMID";
  src: url("../styles/MetrikMedium.otf");
}
@font-face {
  font-family: "VENUS";
  src: url("../styles/venus.ttf");
}
@font-face {
  font-family: "MARU";
  src: url("../styles/manu.otf");
}
@font-face {
  font-family: "MARUDEMI";
  src: url("../styles/manudemi.otf");
}

[data-collapsible="true"].bg-white + [data-collapsible="true"].bg-white {
  @apply pt-0 md:pt-0;
}



html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: white;
}
body{
  background-color: white;

}

.kaykay::-webkit-scrollbar {
  display: none;
}

.kaykay  {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.Toolbar{
  display: none !important;
}
.nuxt-link-exact-active{
  text-decoration: underline;
}
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}